@font-face {
  font-family: "Mazzard";
  src: url(../../fonts/Mazzard/MazzardH-Black.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-Bold.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-ExtraBold.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-ExtraLight.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-Light.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-Medium.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-Regular.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-SemiBold.otf) format ('otf'),
      url(../../fonts/Mazzard/MazzardH-Thin.otf) format ('otf');
  font-weight: normal;
  font-style: normal;
}
